@import './constants.scss';

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }

/*##### auth #####*/
.auth-container{
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    background: url(./login_background.jpg);
    background-size: cover;


    .about{
        width: 25%;
        height: 100vh;
        justify-content: center;
    }
    .card-container{
        width: 50%;
        height: 100vh;
        
    }
    .card-body{
        width: 380px;
        height: 550px;
        margin: auto;
        padding: 0;
        overflow: hidden;
        margin-top: 40px;
        border-radius: 25px;
        background-color: #3097c4;
    }
    .login{
        width: 100%;
        height: 75%;
    }
    .signup{
        width: 100%;
        height: 16%;
        margin: 0;
        padding: 0;
        background-color: white;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        .heading{
            width: fit-content;
            margin: auto;
            h1{
                color: #006996;
                width: fit-content;
                font-size: 1.3rem;
                margin: auto;
                padding-top: 30%;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .login{
        width: fit-content;
        margin: auto;

        .login-heading{
            color: white;
            width: fit-content;
            margin: 20% auto 12% auto;
            font-size: 2.5rem;
            font-family: 'Source Sans Pro', sans-serif;
        }

        .email{
            display: flex;
            .material-icons{
                font-size: 2.5rem;
            }
        }
        input{
            font-family: 'Source Sans Pro', sans-serif;
            height: 25px;
            padding: 17px 15px;
            padding-left: 10px;
            border-radius: 7px;
            border: none;
            font-size: 1.1rem;
            outline: none;
            width: 200px;
            margin: 13px 10px;
        }
        .submit{
            width: fit-content;
            margin-left: auto;
            margin-right: 10px;
            button{
                color: white;
                border: none;
                outline: none;
                border-radius: 5px;
                border: 1px solid white;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 1.3rem;
                padding: 3px 12px;
                background-color:#00699600;
                transition: 0.5s;
                &:hover{
                    background-color: white;
                    color: #006996;
                    cursor: pointer;
                }
            }
        }
        .divider{
            display: flex;
            margin-top: 5px;
            .hr{
                height: 0px;
                width: 30%;
                margin: auto;
                border-bottom: 1px solid white;
            }
            h2{
                color: white;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 100;
                font-size: 15px;
            }
        }
        .socialAuth{
            display: flex;
            width: fit-content;
            margin: 30px auto;

            .gmail{
                margin-right: 5px;
                background-color: #7e8a94;
                border-radius: 8px;
                color: white;
                height: 30px;
            }
            .github{
                margin-left: 5px;
                background-color: #7e8a94;
                border-radius: 8px;
                color: white;
                height: 30px;
            }
        }

        

        .password{
            display: flex;
        }
        .login-logo{
            margin: auto;
        }
    }
}
.material-icons{
    color: white;
    margin: 0;
    padding: 0;
}
// #####  Default  #####
.invalid-link-container{
    width: 100%;
    height: 100vh;
    background-color: #006996;
}

/*########## QuizForm ##########*/
.quiz-form-body{
    width: 55%;
    height: 100vh;
    overflow: scroll;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #d4d4d4;
    .heading-container{
        background-color: #006996;
        overflow: scroll;
        .input-holder{
            width: fit-content;
            margin: auto;
            padding: 10% 0%;
            .heading{
                text-align: center;
                margin: auto;
                max-width: 100%;
                font-size: 2rem;
                background-color: #00699600;
                outline: none;
                border: none;
                color: white;
                &:focus{
                    border: 1px solid rgb(0, 69, 172);
                }
            }
        }
    }
    .disp-container{
        width: 95%;
        margin: 40px auto 20px auto;
        .heading{
            font-size: 1.2rem;
            color: white;
            background-color: #034d6d;
            padding: 10px 5px;
            margin: 0;
        }
        textarea{
            font-family: 'Source Sans Pro', sans-serif;
            width: 100%;
            font-size: 1.2rem;
            padding: 10px;
            height: 120px;
            outline: none;
            border: none;
        }
    }
    .difficulty{
        display: flex;
        width: 95%;
        background-color: white;
        margin: auto;
        .heading{
            font-size: 1.2rem;
            color: white;
            background-color: #034d6d;
            padding: 13px 20px;
            margin: 0;
        }
        .stars{
            margin: auto auto auto 10px;
            .material-icons{
                font-size: 2.3rem;
                margin: 5px;
                color: #a0a0a0;
                &:hover{
                    cursor: pointer;
                }
            }
            .selected-star{
                color: #e2b902
            }
        }
        .star-status{
            margin: auto auto auto 0px;
            font-size: 1.3rem;
            font-family: 'Source Sans Pro', sans-serif;
            width: fit-content;
            color: #034561;
            height: fit-content;
        }
    }
    .questions-container{
        width: 95%;
        margin: auto;
        .question-body{
            margin: 25px 0;
            .question-count{
                margin: 0;
                width: 100%;
                background-color: #034561;
                h1{
                    color: white;
                    font-size: 20px;
                    width: fit-content;
                    margin: 0px;
                    margin-left: 20px;
                    padding-top: 10px;
                    padding-bottom: 3px;
                }
            }
            .question-text-container{
                width: 100%;
                background-color: white;
                margin: 0;
                padding: 10px;
                font-weight: bold;
            }
            .filled-options{
                background-color: white;
                padding: 10px;
            }
            .question-text{
                overflow: hidden;
                textarea{
                    width: 100%;
                    height: 150px;
                    outline: none;
                    border: none;
                    font-family: 'Source Sans Pro', sans-serif;
                    padding: 10px 20px;
                }
            }
            .options{
                margin: 0;
                padding: 30px 0;
                background-color: #ffffff;
                div{
                    width: 90%;
                    margin: auto;
                    input{
                        border: none;
                        outline: none;
                        margin: auto;
                    }
                }
            }
            .add-option{
                display: flex;
                .option-form{
                    width: 80%;
                    margin-left: 0px;
                    .checkbox{
                        zoom: 1.6;
                        border-radius: 0;
                        background-color: #034561;
                    }
                    .text-input{
                        width: 80%;
                        padding-left: 10px;
                        margin-left: 5px;
                        background-color: #d3d3d3;
                    }
                }
                button{
                    outline: none;
                    border: none;
                    background-color: #034561;
                    color: white;
                    padding: 2px 10px;
                }
            }
        }
        .form-footer{
            display: flex;
            padding-bottom: 40px;
            .publish-quiz{
                width: fit-content;
                margin-right: auto;
                button{
                    border: none;
                    outline: none;
                    padding: 5px 10px;
                    background-color: #017230;
                    color: white;
                }
            }
            .add-questions-btn{
                width: fit-content;
                margin-left: auto;
                button{
                    border: none;
                    outline: none;
                    background-color: #034561;
                    padding: 5px 10px;
                    color: white;
                }
            }
        }
    }
}


/*########## Navbar ##########*/
.home-container{
    .navbar-brand{
        font-weight: 800;
        font-size: 2rem;
        color:rgb(92, 92, 92)
    }
    .navbar{
        background-color: #034561;
    }
    .brand-bold{
        color: #ffffff;
    }
    .search-bar{
        display: flex;
        input{
            border-radius: 0;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            border: none;
            outline: none;
        }
        .search-btn{
            span{
                color: #034561;
                padding: 7px 10px 0 0;
            }
            width: fit-content;
            padding: 0;
            background-color: white;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }
    }
    .profile-logo{
        width: fit-content;
        height: fit-content;
        margin: auto;
        span{
            margin: auto;
            font-size: 2.5rem;
        }
    }
    li{
        margin: 0 7px;
        a{
            &:hover{
                cursor: pointer;
            }
        }
    }
}

/*########## Posts ##########*/
.posts-container{
    background-color: #ffffff;
    overflow: scroll;
    height: 88vh;
    .switcher{
        display: flex;
        padding: 20px 0;
        .feeds-btn{
            background-color: #808080;
            margin-left: auto;
            color: white;
            border-radius: 25px;
            transition: 1s ease-in-out;
            padding: 5px 25px;
            &:hover{
                cursor: pointer;
            }
        }
        .quiz-btn{
            background-color: #808080;
            color: white;
            border-radius: 25px;
            padding: 5px 25px;
            transition: 1s ease-in-out;
            margin-right: auto;
            &:hover{
                cursor: pointer;
            }
        }
        .selected-btn{
            padding: 5px 50px;
            background-color: #034561;
        }
    }
    .feed-body{
        background-color: #dbdbdb;
        margin-bottom: 10px;
        border-radius: 7px;
        padding-bottom: 1px;
        .feed-details{
            background-color: white;
            margin: 5px;
            border-radius: 5px;
            p{
                padding: 0 0 15px 10px;
                font-size: 1rem;
            }
        }
        .quiz-footer{
            display: flex;
            .ques-no{
                width: fit-content;
                height: fit-content;
                margin-right: auto;
                p{
                    padding: 0 10px;
                    margin: auto;
                }
            }
            .difficulty{

            }
            .attempt-btn{
                width: fit-content;
                margin-left: auto;
                button{
                    border: none;
                    outline: none;
                    margin-bottom: 10px;
                    margin-right: 10px;
                    color: white;
                    background-color: #037c21;
                    padding: 5px 15px;
                }
            }
        }
        .user-name{
            padding: 10px;
            display: flex;
            span{
                font-size: 2.5rem;
            }
            p{
                margin: auto auto auto 10px;
                font-size: 18px;
            }
        }
        h1{
            font-size: 1.3rem;
            font-weight: 600;
            padding: 12px 0 5px 12px;
        }
    }
}

/* feeds form */
.feed-form-container{
    height: 100vh;
    background-color: white;
    .form-heading{
        padding: 15px 30px;
        padding-top: 40px;
        textarea{
            margin: 0;
            padding: 10px 20px;
            border: 2px solid #034561;
            border-radius: 0;
            font-size: 1.2rem;
            outline: none;
            width: 100%;
        }
    }
    .form-content{
        padding: 15px 30px;
        textarea{
            margin: 0;
            height: 300px;
            padding: 10px 20px;
            border: 2px solid #034561;
            border-radius: 0;
            font-size: 1.2rem;
            outline: none;
            width: 100%;
        }
    }
    .controls{
        display: flex;
        padding: 10px 30px;
        padding-bottom: 40px;
        .cancle{
            width: fit-content;
            margin-left: auto;
            button{
                outline: none;
                border: none;
                background-color: #808080;
                padding: 5px 20px;
                margin-right: 20px;
            }
        }
        .post{
            width: fit-content;
            button{
                border: none;
                outline: none;
                color: white;
                padding: 5px 20px;
                background-color: #0c5f10;
            }
        }
    }
    .title-bar{
        background-color: #034561;
        color: white;
        h1{
            font-size: 1.5rem;
            padding: 5px 0 5px 25px;
        }
    }
}

/* Notes */
.notes-main-container{
    width: 350px;
    // overflow: scroll;
    height: 100%;
    transition: 2s ease-in-out;
    background-color: #006996;
    .toggler{
        background-color: #007eb4;
        border-radius: 25px;
        display: relative;
        z-index: 1;
        padding: 10px 11px 5px 11px;
        width: fit-content;
        margin-left: -48px;
        margin-top: 10px;
        &:hover{
            cursor: pointer;
        }
        span{
            font-size: 2.2rem;
        }
    }
    .notes-heading{
        width: fit-content;
        margin: auto;
        h1{
            color: white;
            margin: auto;
        }
    }
    .notes-list{
        height: 290px;
        margin-left: 10px;
        overflow: scroll;
        .single-note{
            width: 95%;
            border-radius: 5px;
            background-color: #fae9c4;
        }
    }
    .add-form{
        width: 100%;
        padding: 0 15px;
        margin: auto;
        transition: 2s ease-in-out;
        .notes-notedown-field{
            width: 100%;
            margin: auto;
            height: 110px;
            padding: 4px 10px;
            margin-left: 0px;
            margin-top: 10px;
            border-radius: 15px;
            border: none;
            outline: none;
        }
        .add-btn{
            width: fit-content;
            margin-left: auto;
            span{
                font-size: 2.1rem;
                cursor: pointer;
            }
        }
    }
}
.collasped{
    width: 0px;
}

/* AttemptQuiz */
.attempt-quiz-container{
    overflow: scroll;
    .quiz-header{
        background-color: #fff;
        margin: 20px 0 10px 0;
        padding: 20px 40px;
        .heading{
            width: fit-content;
            margin: auto;
            h1{
                font-size: 2rem;
            }
        }
        .disp{
            padding: 0px 10px;
            p{
                font-size: 1.1rem;
            }
        }
    }
    .question-container{
        background-color: white;
        padding: 20px 0px;
        .question-text{
            padding: 10px 20px;
            h1{
                font-size: 1.5rem;
            }
        }
        .options{
            .option{
                padding: 10px 0px;
            }
            padding: 0 20px;
            p{
                padding: 0;
                margin: 0;
            }
            input{
                zoom: 1.5;
                margin: auto 10px;
            }
        }
    }
    .controls{
        background-color: white;
        .submit{
            width: fit-content;
            margin-left: auto;
            padding: 20px;
            button{
                border: none;
                outline: none;
                padding: 5px 20px;
                color: white;
                background-color: rgb(18, 104, 1);
            }
        }
    }
    .score{
        background-color: white;
        padding: 20px;
        margin-top: 20px;
        p{
            font-weight: 500;
        }
    }
    .good-perform{
        background-color: green;
    }
    .bad-perform{
        background-color: red;
    }
    .go-back{
        button{
            border: none;
            outline: none;
            padding: 3px 10px;
        }
    }
}

/* home */
.main-container{
    background-color: rgb(180, 180, 180);
    height: 100vh;
    overflow: scroll;
    .main-body{
        display: flex;
    }
}
